{% extends 'base.html' %}

{% block content %}
<div class="py-5 bg-light">
    <div class="container">
      <h2>MF and content-based recommender demo</h2>
      <p>Built for the lablab.ai hackathon with:</p>
      <ul>
        <li>Metarank ALS matrix factorization: to compute traditional collaborative-filtering recommendations</li>
        <li>Qdrant: for k-NN search over embedding space</li>
        <li>Cohere.ai: computing content embeddings</li>
      </ul>
    </div>
  </div>

{% endblock %}


